node_modules
.next
out
dist
.wrangler
.vercel
.turbo
target/
coverage/
.DS_Store
*.local
.env
.env.*
*.log
*.pem
*.key
*.p12
*.pfx
*.keystore
credentials/
secrets/
/docs/TecmiPickup_Documentacion_Final.pdf
.vscode
.idea
*.iml

